*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #fff;
    color: #b74b4b;
    display: flex;
}

body.dark-mode{
    background-color: #000;
    color: #fff;
}

.mode-btn{
    background: none;
    border: 2px solid #b74b4b;
    color: #b74b4b;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.mode-btn:hover {
  background-color: #b74b4b;
  color: white;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: rgb(42, 47, 59);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #b74b4b;
        border-bottom: 3px solid #b74b4b;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #b74b4b;    
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
    flex: 1;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #b74b4b;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.7rem;
}

.home-content b{
    font-size: 1.7rem;
}

.home-content ul{
    font-size: 1.6rem;
    padding-left: 10rem;
}

.section-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
    width: 100%;
    justify-content: flex-start;
    padding-left: 80px;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    box-shadow: 0 0 20px solid #b74b4b;
    cursor: pointer;
    transition: 0.2s linear;
    object-fit: cover;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500; 
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    font-size: 1.5rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px solid;
}

:root{
    --button-color: white;
}

.dark-mode{
    --button-color: black;
}

.btn:hover::after{
    background: var(--button-color);
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "Web Developer";
    color: #b74b4b;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: 2px;
    height: 100%;
    border-left: 3px solid black;
    right: -3;
    animation: cursor 0.6s infinite;
}

:root{
    --cursor-color: white;
}

.dark-mode{
    --cursor-color: black;
}

.typing-text span::after{
    background: var(--cursor-color);
}

@keyframes cursor{
    to{
        border-left: 3px solid #b74b4b;
    }
}

@keyframes words{
    0%, 25%{
        content: "Web Developer";
    }
    26%, 50%{
        content: "Software Developer";
    }
    51%, 75%{
        content: "Full-stack Developer";
    }
    76%, 100%{
        content: "Game Developer";
    }
}

@media(max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width: 995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;

    }
}